# SQLite database file (created on first start). Defaults to apps/api/data/deeznote.db
# DATABASE_PATH=/var/lib/deeznote/deeznote.db
API_PORT=3000
WEB_ORIGIN=http://localhost:5173
VITE_API_URL=http://localhost:3000
